* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 18px; 
    color: white; 
    background-color: #white; 
    margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
    font-size: 48px; font-weight: 900;
    color: white; 
    background-color: #1f2937; 
}

h2 {
    font-size: 36px; font-weight: 900; text-align: center; background-color: white; color: black;
}

.header {
    display: flex; 
    align-items: center; justify-content: space-between;
    gap: 16px;
    padding-right: 48px;
    padding-top: 12px;
    color: white; 
    background-color: #1f2937; 
}

.logo {
    font-weight: 900; 
    font-size: 24px; 
    margin-right: auto;
    padding-left: 48px;
    color: white; 
    background-color: #1f2937; 
}

.hero {
    display: flex;
    padding: 48px;
    flex-wrap: nowrap;
    color: white; 
    background-color: #1f2937;
    gap: 12px;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    color: white; 
    background-color: #1f2937; 
    gap: 18px;    
}

.signup {
    margin-right: auto;
    height: 36px;
    width: 100px;
    background-color: #3882f6;
    border: 0px solid #fff;
    border-radius: 5px
}

.container {
    margin-left: 18px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    color: white; 
    background-color: #1f2937; 
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    color: black;
    padding: 48px;
}

.small {
    width: 100%;
    height: 100%;
    border: 4px solid blue; border-radius: 10px;
    background-color: black;
    padding: 1px;
}

.info > div > .small {
  flex: 1 1 100px;
  object-fit: cover;
}

.images {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  padding-bottom: 16px;
  padding-top: 24px;
  background-color: white;
}

.captions {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding-bottom: 16px;
    background-color: white;
}

.text {
    font-size: 12px; font-weight: lighter; text-align: center; color: black; background-color: white;
}

.quote {
    padding: 20px 65px 0px 65px;
    background-color: #e5e7eb;
    font-size: 36px; font-weight: 10; font-style: italic; color: black;
}

.name {
    font-size: 16px; font-weight: 800; font-style: normal; color: black; text-align: right;
    background-color: #e5e7eb;
    padding-right: 65px; padding-bottom: 60px;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin: 68px;
    padding: 18px 64px 18px 64px;
    border-radius: 5px
}

h3 {
    background-color: #3882f6;
    font-size: 22px; font-weight: 900;
}

.call-text, .blurb {
    background-color: #3882f6;
    font-size: 16px; font-weight: lighter;
}

.button{
    margin-left: auto;
    height: 50px;
    width: 125px;
    align-self: center;
    background-color: #3882f6;
    border: 1px solid #fff;
    border-radius: 5px;
}

footer {
    color: white; 
    background-color: #1f2937;
    padding: 24px;
    text-align: center; font-weight: lighter; font-size: 12px;
}