* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 18px; 
    color: white; 
    background-color: #1f2937; 
}

.header {
    display: flex; 
    align-items: center; justify-content: space-between;
    gap: 16px;
    margin-right: 48px;
}

.logo {
    font-weight: bolder; 
    font-size: 24px; 
    margin-right: auto;
    margin-left: 48px;
}

.hero {
    display: flex;
    margin-left: 48px;
    margin-right: 48px;
    padding-top: 48px;
    flex-wrap: nowrap;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
}

.photo {
    border: 1px solid #fff;
    margin-left: 18px;
    display: flex;
    flex-direction: column;
}